{{outlet}}
{{#each}}
  {{dwelling_type}}
  {{year_built}}
  {{square_footage}}
  {{number_of_adults}}
  {{number_of_children}}
  {{home_business}}
  {{ownership}}
  {{hvac_heating_config}}
  {{hvac_cooling_config}}
  {{programmable_tstat}}
  {{tstat_programmed}}
  {{water_heater_type}}
  {{pool_pump}}
  {{hot_tub}}
  {{pool_heat_type}}
  {{avg_cooling_setpoint}}
  {{avg_heating_setpoint}}
  {{x_refrigerator}}
  {{x_freezer}}
  {{x_dish_washer}}
  {{oven}}
  {{cooktop}}
  {{x_washing_machine}}
  {{clothes_dryer}}
  {{x_num_tvs}}
  {{x_tv_estar}}
  {{x_tv_hours}}
  {{num_laptops}}
  {{solar_electric}}
  {{num_incandescent}}
  {{hours_incandescent}}
  {{num_cfl}}
  {{hours_cfl}}
  {{num_led}}
  {{hours_led}}
  {{num_flourescent}}
  {{hours_flourescent}}
  {{num_halogen}}
  {{hours_halogen}}
{{else}}
  <li>Home profile information could not be found.  Please check back later.</li>
{{/each}}
