<form class='survey'>
  <div id='home-screen'>
    <fieldset>
      <legend>
        {{i-n 'home_profile.home_screen.headings.building'}}
      </legend>
      <div class='field clearfix'>
        {{i18n-label target='dwelling-type' translationKey='home_profile.dwelling_type'}}
        <div class='input'>
          {{view "i18n-select" id="dwelling-type" translationKey='select.dwelling_type' value=model.dwellingType prompt=' '}}
        </div>
      </div>
      <div class='field clearfix'>
        {{ i18n-label target='year-built' translationKey='home_profile.year_built' }}
        <div class='input'>
          {{view 'select' id='year-built' prompt=' ' content=homeYears }}
        </div>
      </div>
      <div class='field clearfix'>
        {{ i18n-label target='square-footage' translationKey='home_profile.square_footage' }}
        <div class='input'>
          <div class='home-size-slider'>
            {{ bootstrap-slider id='square-footage' type='text' min=50 max=10000 step=50 tooltip='always' selection='none' sliderDidChange="sliderUpdate" formatter=homeSizeFormatter}}
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</form>
